<% include header %>

   <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Welcome <span class="sr-only">(current)</span></a></li>
                <li><a href="#rsvp">RSVP</a></li>
                <li><a href="#accomodation">Accommodation</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#">Wedding List</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<header id="top" class="header alwaysShow">
    <div class="text-vertical-center logoTopPad">
        <div id="contentBox" class="contentBoxNoBackground">
            <img id="logo" src="/img/logosmall.png" alt="" />
        </div>
        <div class="contentBoxNoBackground">
            <p>&nbsp;<br /></p>
            <h2 class="headerText">Welcome</h2>
            <p class="headerText">We are delighted to invite you to the wedding of Hazel and Chris on 7th April 2018.</p>
            <p class="headerText">Please use the menu above or scroll down to view essential information on location and accommodation and to let us know if you can make it.</p>
            <p class="headerText">To allow for appropriate preparations, we request that you reply by the 1st January 2018.</p>

        </div>
    </div>
</header>

<!-- RSVP -->
<section id="rsvp" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>RSVP</h2>
                <p class="lead">We would be delighted if you are able to attend our wedding at Bisham Church and Bisham Abbey on the 7th April 2018. </p>
                <p>Please select below if you can attend or if you have any special requirements and press save.</p>
                <p>We would very much appreciate if you are able to let us know by 1st January 2018. If you have any questions, do give us a call or drop us a message on Facebook.</p>
            </div>
        </div>
        <!-- /.row -->
        <input type="hidden" name="hdnInvite" id="hdnInvite" value="<%= inviteCode %>">
        <div class="row">
            <div class="col-lg-12 text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td>I can attend the ceremony</td>
                            <td>I can attend the reception</td>
                            <td>I can attend the evening</td>
                            <td>Special requirements</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < people.length; i++) { %>
                        <form id='person<%= people[i].id%>'>
                            <tr>
                                <td><%= people[i].name %></td>
                                <td>
                                    <select class="form-control" id='ceremony<%= people[i].id%>' onchange="setCanSave()">
                                        <option value="1" <%if (people[i].ceremony==1) {%>selected<%}%>>Yes</option>
                                        <option value="0" <%if (people[i].ceremony==0) {%>selected<%}%>>No</option>
                                        <option value="-1" <%if (people[i].ceremony==-1) {%>selected<%}%>>Don't Know</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id='reception<%= people[i].id%>' onchange="setCanSave()">
                                        <option value="1" <%if (people[i].reception==1) {%>selected<%}%>>Yes</option>
                                        <option value="0" <%if (people[i].reception==0) {%>selected<%}%>>No</option>
                                        <option value="-1" <%if (people[i].reception==-1) {%>selected<%}%>>Don't Know</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id='evening<%= people[i].id%>' onchange="setCanSave()">
                                        <option value="1" <%if (people[i].evening==1) {%>selected<%}%>>Yes</option>
                                        <option value="0" <%if (people[i].evening==0) {%>selected<%}%>>No</option>
                                        <option value="-1" <%if (people[i].evening==-1) {%>selected<%}%>>Don't Know</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id='txtRequirements<%= people[i].id%>' value='<%= people[i].requirements%>' placeholder="Enter special requirements/requests" id='requirements<%= people[i].personId%>' onchange="setCanSave()">
                                </td>
                            </tr>
                        </form>
                        <% } %>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="btnSaveRsvp">Save Responses</button>&nbsp;&nbsp;<div id="lblSave"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<section id="kayak" class="header kayak">
    <div class="text-vertical-center logoTopPad">

    </div>
</section>

<!-- Accommodation -->
<section id="accomodation" class="about contentBoxLightGray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <p>If you want to stay over in the local area for the wedding, there are various accommodation options.</p>
                <p>The most convenient accommodation is onsite at Bisham Abbey. At the time of writing, this is also the cheapest. However, there is a limited number of rooms available, so if you want to take this option, we recommend you book soon.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center clear-bottom">
                <img id="logo" class="featureImage" src="/img/circle_baaccommodation.png" alt="" />
            </div>
            <div class="col-lg-6">
                <h3>Bisham Abbey Rooms</h3>
                <p>Bisham Abbey National Sports Centre has around 50 newly built rooms for sports clubs. Guests can book these rooms, but we do not have exclusivity on occupancy, so they may sell out.</p>
                <p><b>Cost (pr/pn):</b> Double - £86. Single - £70. Child bed - £15. Cots £10 </p>
                <p><b>Location:</b>Onsite</p>
                <p><b>Note:</b> Child beds can only put in two of the rooms. We have reserved these rooms, so let us know if you need one.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center clear-bottom">
                <img id="logo" class="featureImage" src="/img/circle_gandd.png" alt="" />
            </div>
            <div class="col-lg-6">
                <h3>Premiere Inn, Marlow</h3>
                <p>A Premiere Inn located just the other side of Marlow Bridge as part of the George and Dragon pub.</p>
                <p><b>Cost (pr/pn):</b> At time of writing (October 17): £96 for a double room</p>
                <p><b>Location:</b>Just over a mile from Bisham Abbey</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3>Crowne Plaza Marlow</h3>
                <p>A Crowne Plaza hotel the other side of Marlow. Has full hotel facilities</p>
                <p><b>Cost (pr/pn):</b> At time of writing (October 17): £99 for a double room</p>
                <p><b>Location:</b>About 2 miles from Bisham Abbey</p>
            </div>
            <div class="col-lg-6 text-center">
                <h3>Other Options</h3>
                <p><a href="https://www.laterooms.com/en/k16296503_marlow-hotels.aspx?k=Marlow%2C+UK&n=1&d=20180407&et=DEST&rt=2-0" target="_blank">Click here</a> for a search on Laterooms listing other options.</p>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
    <!-- /.container -->
</section>

<section id="kayak" class="header snowdon">
    <div class="text-vertical-center logoTopPad">

    </div>
</section>

<!-- Location -->
<section id="location" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center clear-bottom">
                <h2>Location &amp; Times</h2>
                <p>If you want to stay over in the local area for the wedding, there are various accommodation options.</p>
                <p>The most convenient accommodation is onsite at Bisham Abbey. At the time of writing, this is also the cheapest. However, there is a limited number of rooms available, so if you want to take this option, we recommend you book soon.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center clear-bottom">
                <img id="logo" class="featureImage" src="/img/circle_church.png" alt="" />
            </div>
            <div class="col-lg-6">
                <h3>Ceremony</h3>
                <p>The wedding ceremony is at <b>12:15 on 7th April 2018</b> at <b>Bisham Church, SL7 1RW</b></p>
                <p>Parking: We have arranged for use of the co-located <b>Bisham School</b> car park. This should provide ample parking for all guests. The school and church are clearly signposted from the main road. Once you have turned off the main road, turn immediately right through the school gates. Continue round to the front of the school for extended parking.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img id="logo" class="featureImage" src="/img/circle_abbey.png" alt="" />
            </div>
            <div class="col-lg-6">
                <h3>Reception</h3>
                <p>The reception will be following the ceremony and is at <b>Bisham Abbey National Sport Centre</b>.</p>
                <p>Bisham Church and Abbey are neighbors. However as the Abbey grounds are quite large, the drive or walk along the road is around 900m. It is possible to cut across the Abbey grounds, however the grass is often wet and muddy, so not recommended; especially for high heels!</p>
                <p>There will be a meal at around 15:30. The menu has not yet been formalised. We will email you when this is available. However, if you have any requirements (such as vegetarian food), please include this on your RSVP.</p>
                <p>There will be light food and a ceilidh in the evening.</p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<!-- Map -->
<section id="map" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1TtGBMRfPji7y11ayU0uLwoPKgEc"></iframe>
    <br />
    <small>
        <a href="https://www.google.com/maps/d/embed?mid=1TtGBMRfPji7y11ayU0uLwoPKgEc"></a>
    </small>
</section>



<% include footer %>
