<% include header %>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Welcome <span class="sr-only">(current)</span></a></li>
                <li><a href="#">RSVP</a></li>
                <li><a href="#">Accomodation</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Wedding List</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<header id="top" class="header">
    <div class="text-vertical-center logoTopPad">
        <div id="contentBox" class="contentBoxNoBackground">
            <img id="logo" src="/img/logosmall.png" alt="" />
        </div>
        <div class="contentBoxNoBackground">
            <p>&nbsp;<br /></p>
            <h2 class="headerText">Welcome</h2>
            <p class="headerText">We are delighted to invite you to the wedding of Hazel and Chris on 7th April 2018.</p>
            <p class="headerText">Please use the menu above or scroll down to view essential information on location and accomodation and to let us know if you can make it.</p>
            <p class="headerText">To allow for appropriate preperations, we request that you reply by the 1st January 2018.</p>

        </div>
    </div>
</header>

<!-- RSVP -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>RSVP</h2>
                <p class="lead">We would be delighted if you are able to attend our wedding at Bisham Church and Bisham Abbey on the 7th April 2018. </p>
                <p>Please select below if you can attend or if you have any special requirements and press save.</p>
                <p>We would very much appreciate if you are able to let us know by 1st January 2018. If you have any questions, do give us a call or drop us a message on Facebook.</p>
            </div>
        </div>
        <!-- /.row -->
        <input type="hidden" name="hdnInvite" id="hdnInvite" value="<%= inviteCode %>">
        <div class="row">
            <div class="col-lg-12 text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td>I can attend the ceremony</td>
                            <td>I can attend the reception</td>
                            <td>I can attend the evening</td>
                            <td>Special requirements</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < people.length; i++) { %>
                        <form id='person<%= people[i].id%>'>
                            <tr>
                                <td><%= people[i].name %></td>
                                <td>
                                    <select class="form-control" id='ceremony<%= people[i].id%>' onchange="setCanSave()">
                                        <option value="1" <%if (people[i].ceremony==1) {%>selected<%}%>>Yes</option>
                                        <option value="0" <%if (people[i].ceremony==0) {%>selected<%}%>>No</option>
                                        <option value="-1" <%if (people[i].ceremony==-1) {%>selected<%}%>>Don't Know</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id='reception<%= people[i].id%>' onchange="setCanSave()">
                                        <option value="1" <%if (people[i].reception==1) {%>selected<%}%>>Yes</option>
                                        <option value="0" <%if (people[i].reception==0) {%>selected<%}%>>No</option>
                                        <option value="-1" <%if (people[i].reception==-1) {%>selected<%}%>>Don't Know</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id='evening<%= people[i].id%>' onchange="setCanSave()">
                                        <option value="1" <%if (people[i].evening==1) {%>selected<%}%>>Yes</option>
                                        <option value="0" <%if (people[i].evening==0) {%>selected<%}%>>No</option>
                                        <option value="-1" <%if (people[i].evening==-1) {%>selected<%}%>>Don't Know</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id='txtRequirements<%= people[i].id%>' value='<%= people[i].requirements%>' placeholder="Enter special requirements/requests" id='requirements<%= people[i].personId%>' onchange="setCanSave()">
                                </td>
                            </tr>
                        </form>
                        <% } %>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="btnSaveRsvp">Save Responses</button>&nbsp;&nbsp;<div id="lblSave"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1TtGBMRfPji7y11ayU0uLwoPKgEc"></iframe>
    <br />
    <small>
        <a href="https://www.google.com/maps/d/embed?mid=1TtGBMRfPji7y11ayU0uLwoPKgEc"></a>
    </small>
</section>

<% include footer %>
